<div>
  <!-- Opening image of Dog barking in the morning 001-->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F01.jpg?alt=media&token=f206df06-fe62-4116-b431-4a792ad0c559" />
  <p>
    Garrett and Kayla’s week started off with the vaccination of their rescue puppy and Garrett’s bruise finally fading. 
    Garrett, a junior firefighter, was a first responder to a blaze in rural Bakersfield. It turned out to be a meth house 
    that housed a litter of pit bull mutts. His heart sank as the litter was taken to the shelter and Kayla insisted they 
    adopt one. They named him Ignus and he’d grown in size and affection in the last five weeks.
  </p>
  <p>
    Garrett woke on the fold out bed in an old Visalia farm house. His arm draped over Kayla. Ignus yapped.
  </p>
  <p>
    “Ignie, quiet,” he muttered.
  </p>
  <p>
    Ignus was not quiet.
  </p>
  <p>
    “Ignie…”
  </p>
  <p>
    “He probably wants to pee,” murmured Kayla in voice of tired woman twice her age.
  </p>
  <p>
    “Alright…” said Garrett rising. He creaked past the floorboards.
    Tools from last night’s work still strewn about on the floor. Carpet had been lifted and wall paper stripped. 
    The house had belonged to grandpa Van Dubin, and now belonged to Garrett and his sister.
  </p>
  <p>
    It might have gone to Garrett’s first dad, Michael Van Dubin, but that’s another story.
  </p>
  <p>
    Garrett found Ignus barking at a stained spot on the basement wall paper.
  </p>
  <p>
    “Ignus,” he said, “come on. Wanna pee?”
  </p>
  <p>
    Ignus’s ears stayed forward and his chest raised up, he growled. Garrett wagged the leash, Ignus came to heel for a walk in the morning air.
  </p>
  <p>
    They returned to the scent of bacon and eggs. Kayla sat at a piano plinking away at its slightly out of tune keys. 
    Garrett listened for a moment and hummed along with the familiar happy tune. Kayla, oblivious, 
    opened her mouth to sing. Notes came out like a perfectly tuned scratchy record. She kept up to the 
    second verse. Her voice waned when she hit a high note. She closed the piano with a sigh.
  </p>
  <p>
    “You’re sounding better, Kayla,” said Garrett.
  </p>
  <p>
    Kayla turned around. Her eyes widened, then she gave a resolute smile.
  </p>
  <p>
    “I think the doctor’s right,” she said, “the operation permanently affects a voice.”
  </p>
  <p>
    “I think you’ll be back to normal in no time,” said Garrett. “Imagination is part of the healing right?”
  </p>
  <p>
    “I guess. Maybe you’re right,” said Kayla. “Coffee?”
  </p>
  <p>
    They sat down and enjoyed a breakfast together with Ignus sitting patiently for leftovers below the table. 
    They donned the days grungie overalls and got to work. Kayla and Garrett stripped the peeling wall paper, 
    tore up the dank carpet, and scraped paint until the mid afternoon. By then Garrett’s sister had come 
    to help along with a truck to haul the garbage.
  </p>
</div>