<!-- The closing image 009 -->
<img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F09.jpg?alt=media&token=14cbca89-5c93-4ecb-acca-5fa083dcc717" />
<p>
  Back within the dusty walls of Grandpa’s house, Garrett and his dad waved off an ambulance transporting Nate. 
  It had been two days with Nate feverishly muttering to himself while Garrett, Kayla and his dad continued to work 
  on the house. That night, they locked the books back in the safe and enjoyed an evening barbecue on the porch. 
  Kayla worked out a new song on the piano.  
</p>
<p>
  “Now son,” he said, “if you don’t rent this place we could flip it.”
</p>
<p>
  Garrett rolled his eyes.
</p>
<p>
  “We?”
</p>
<p>
  “Yeah we,” said Michael. “With my reward money I could put into the improvements too, right?”
</p>
<p>
  Garrett sighed.
</p>
<p>
  “I’ll consider it,” said Garrett.
</p>
<p>
  “Well it’s a start.”
</p>
<p>
  Garrett shrugged.
</p>
<p>
  “Well Dad,” he said, “you gotta keep your end of the bargain too right?”
</p>
<p>
  “About?” said Michael feigning confusion.
</p>
<p>
  “Your little demon contract said your first born son couldn’t harm the demon master or his servants,” Garrett said, “but I beat a little imp lawyer to death with my bare hands.”
</p>
<p>
  “Oh that. Well you see son,” he began, “as far as I’m concerned you’re my first son. Though there might be..”
</p>
<p>
  “Did you have a child with someone before mom?”
</p>
<p>
  “I uuhh no,” he said, “though back in college? I might have visited a bank? Made some deposits if you get my drift?”
</p>
<p>
  “You mean you made a deposit not in cash?”
</p>
<p>
  “Not in cash no,” he said. “The freeze your assets there, and let… well it’s the kind of bank that only men make deposits at.”
</p>
<p>
  Garrett dropped his face into his hand, and then chuckled in embarrassment.
</p>
<p>
  “Oh Jesus Christ, dad,” Garrett said, “let’s just forget I asked.”
</p>
<!-- Break Tag added to ensure that images display properly-->
<br>