<div class="storybox">
  <!-- 002 discovery of the safe! -->
  <img  src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F02.jpg?alt=media&token=5b0fb9cf-e367-4551-8996-211bb1a4faec" />
  <p>
    In the evening, as Garrett carried out old dry wall, Ignus growled in the basement again. 
    Now stripped bare of wallpaper, it showed Garrett something too. It was white, 
    but an imperfect white. White like coffee stained teeth white. Or white like a forgotten picket fence white. 
    This wrong whiteness had perfect right angles. Garrett looked at the floor. This wall was on one side of a hearth, 
    yet it was more forward than the wall on the opposite side.
  </p>
  <p>
    “Kayla?” he called, “get the small hammer please.”
  </p>
  <p>
    A few minutes later, Garrett had cleared the wall to reveal a dusty safe. The dial spun easily. Ignus yapped at its click.
  </p>
  <p>
    “What is it?” said Kayla. “Think your grandpa had something good in there?”
  </p>
  <p>
    “I don’t know,” he said. “We could call a safe smith.”
  </p>
  <p>
    “Your dad might know,” she said.
  </p>
  <p>
    “Scott wouldn’t have any idea,” said Garrett.
  </p>
  <p>
    “You know I mean you’re real dad,” said Kayla, “Bio-dad, Michael.”
  </p>
  <p>
    Garrett’s head dropped with a sigh.
  </p>
  <p>
    “Well when was the last time you talked?” she said.
  </p>
  <p>
    “At Grandpa’s funeral,” he said. “Michael said he wanted to talk renting and selling.”
  </p>
  <p>
    “Come on,” she said, “that’s not real talk.”
  </p>
  <p>
    “It’s not funeral talk for sure, and his debts are his fault.”
  </p>
  <p>
    Garrett yanked the handle a few times to get focus on it.
  </p>
  <p>
    “Wish I had some dynamite,” said Garret spinning the lock.
  </p>
  <p>
    “Or it could be a birthday or something,” said Kayla. “Three numbers always make dates.”
  </p>
  <p>
    After several dates of birthdays it turned out to be his grandparents’ anniversary. 
    The door opened with a squeak and inside he found a stack of books obscured by 
    yellowed newspaper wrapping. On top, was ‘cursed’ written in sharpie pen. Garrett 
    tore open the wrapping, and found notebooks, rulebooks, and a small bag of dice.
  </p>
  <p>
    “It’s…” he said raising his eyebrow, “I think this is old Dungeons and Dragons stuff.”
  </p>
  <p>
    “No way?” said Kayla.
  </p>
  <p>
    Ignus growled. The books, sheets, and notes were frozen in time. 
    The collection included a character sheet for his dad and more sheets 
    with names he didn’t recognize. The dungeon master’s guide had a fist sized hole burnt in it.
  </p>
  <p>
    “Ignus doesn’t like it, Garrett” Kayla said, “put it back.”
  </p>
  <p>
    Garrett cringed at what he held, and shoved the collection back in the safe.
  </p>
</div>
