 <div class="storybox"> 
  <!-- Here comes the Demon 003 -->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F03.jpg?alt=media&token=145e666e-c453-4b62-a2f4-06679e6c044d" />
  <p>
      Garrett and Kayla spent another day working on Grandpa Van Dubin’s house. Then, as they treated themselves 
      to a pizza dinner, a tendril of smoke crept up from the basement. Garrett ran down and found a singed 
      pentagram on the floor. It cracked and a hole formed.
  </p>
  <p>
      “Kayla,” he called. She ran down the 
      floor with Ignus and a fire extinguisher. The concrete burst. 
      Ignus barked and Garrett stood next to him.
  </p>
  <p>
      A leathery skinned creature, with tiny horns and long bat like ears, clawed out of the 
      hole. Its eyes glittered like black granite. It smiled like a celebrity, and it wore a suit. 
      Ignus bared his teeth.
  </p>
  <p>
      “Pardon my intrusion, -sir, madam, canine- have I arrived at the home of Van Dubin?”
  </p>
  <p>
      “Maybe,” said Garrett.
  </p>
  <p>
      “Is there a Michael Van Dubin? Whose first born son still lives?”
  </p>
  <p>
      “I’d be happy to give you an introduction,” said Garrett. 
      His hands made fists. His heart pounded. The suited imp only grinned.
  </p>
  <p>
      “Excellent,” said the creature, “My name on earth is Johnny McReaper. I’m here to collect your soul, Garrett.”
  </p>
  <p>
      “Excuse me?” said Garrett.
  </p>
  <p>
      “Go away creep!” said Kayla pointing the fire extinguisher.
  </p>
  <p>
      “We have a contract for the first born of Michael Van Dubin,” said Johnny McReaper. 
      The imp was unphased by a fire extinguisher. “Due to terms of entrance to our realm, and an incomplete quest.”
  </p>
  <p>
      Garrett looked at the yellowed piece of paper. Its terms read for the 
      promise of an oldest son, in crisp and unambiguous legal language.
  </p>
  <p>
      “My master looks forward to meeting you at last,” said Johnny McReaper.
  </p>
  <p>
      “I’m not going anywhere,” said Garrett, “now how about I beat you back into that hole?”
  </p>
  <p>
      “The oldest son of Michael Van Dubin could no more harm me than the master himself. Well? Are you coming or not?”
  </p>
  <p>
      “No!” said Garrett.
  </p>
  <p>
      “Fine,” said McReaper. He raised his hands and Ignus was swept off his feet. 
      Ignus barked and fell into the hole. McReaper jumped in leaving a puff of smoke behind.
  </p>
  <p>
      “You know where to find us,” he jeered. “It’s the dog or you, first born of Van Dubin!”
  </p>
</div>