<div class="storybox">
  <!-- She sings in the Inn 006 -->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F06.jpg?alt=media&token=40b95fd3-343f-4771-bbed-27a6170cf78c" />
  <p>
      Belwyn eyed her lute.
    </p>
    <p>
        “You good with that?” he said, “Market is full of folks with deep pockets 
        and we’ve not heard music since the wizard of Demon Bat Keep did that.” 
    </p>
    <p>
      He indicated to a frightened stone statue of a musician.
    </p>
    <p>
        “Sang an offensive song, he did.”
    </p>
    <p>
        Garrett looked to Kayla, pleading with her for Ignus. She understood him right away. 
    </p>
    <p>
        “Alright,” she said her voice cracking slightly, “and I’ll try to keep it g rated.”
    </p>
    <p>
        “What’s that?” said Belwyn.
    </p>
    <p>
      “Oh right, never mind,” she said. She turned to Garrett.
    </p>
    <p>
      “Garrett,” she said, “you have to do the lighting. Like at Bakersfield Alehouse, remember?”
    </p>
    <p>
      “How?” he said.
    </p>
    <p>
      “Spells or something,” she said, “Come on, I’m nervous too.”
    </p>
    <p>
        “Deal,” said Garrett flipping through the player’s handbook. 
    </p>
    <p>
        Kayla took her lute and walked over to the hearth and played a chord. 
        A few patrons turned their attention. Then she looked to Garrett, 
        mustered a smile, and began to play. The music vibrated from the strings and 
        into the crowd. People turned, and smiled towards her. Her music lifted the spirits of 
        the crowd and light applause followed. Garrett, found the perfect spell for stage lights. 
    </p>
    <p>
      “Hello everyone, I’m Kayla,” she said. “Kayla of Tulare.” 
    </p>
    <p>
      A few tankard’s clinked. 
    </p>
    <p>
      “Would you like to hear me sing?” 
    </p>
    <p>
        The crowd gave a hearty yes. She took a deep breath. Adapting an old jazz tune 
        for the lute on the fly, she let her voice out for the first time in months. 
        Concentrating, Garrett recited his spell, and summoned glowing illusionary colored 
        lights all around her. The crowd, cheered and applauded and Kayla took a bow.
    </p>
    <p>
        “Thank you,” she said, “tell your friends?”
    </p>
    <p>
        The bartender slapped Garrett on the shoulder. 
    </p>
    <p>
      “You two do that at supper time, and you’ll have your potions.”
    </p>
    <p>
        The adventuring team succeeded in bringing a crowd and the next morning 
        Belwyn fulfilled his promise. They traveled towards a steep forested cliff. 
        A keep loomed on top of it.
    </p>
    <p>
        “So before we do this,” said Michael, “we gotta remember we must retrieve the Sword of the Highlander.” 
    </p>
    <p>
        “’Demon Bat Keep’ and ‘Sword of the Highlander’?” said Kayla. “What’s with these names?” 
    </p>
    <p>
        “It’s what our Dungeon Master named it,” he said. “Cut him some slack. We were fourteen.” 
    </p>
    <p>
        “I don’t care about the sword,” said Garrett. 
    </p>
    <p>
        “Well you better, son,” said Michael, 
        “cause that’s what breaks the curse on you. It’s how we get out too.” 
    </p>
    <p>
        “And you didn’t tell me this sooner?” said Garrett raising his eyebrow. 
    </p>
    <p>
        “You didn’t ask because you didn’t listen…”
    </p>
    <p>
        “Men,” said Kayla, “we can talk about this later. I want Ignus back.” 
    </p>
    <p>
        Garrett opened up his spell book and re-read some of spells. Michael adjusted his helmet. 
        They drank down the potions and soared up the cliff side. They made their way to the soot colored stones of the keep’s entrance. 
        They found the portcullis closed, yet no one there guarded it. A familiar yap came in the distance. Garrett marched up to the gate.
    </p>
    <p>
        “My name is Garrett Van Dubin,” he shouted out, “and I’ve come.”
    </p>
    <p>
        Ignus yapped louder at his master’s voice.
    </p>
    <p>
        “Open the gate and let’s finish this crap!” he said.
    </p>
    <p>
        The portcullis rose with a rusted groan. All three of the crew stepped through. 
        They entered a courtyard, and were greeted by two motionless gargoyles. 
        Out from a door stepped Johnny McReaper. He carried an angry Ignus in a small cage.
    </p>
    <p>
         “Garrett! Michael! Have you come to give the master what is his by contract?” 
    </p>
    <p>
        “Where is the demon of the keep?” said Michael.
    </p>
    <p>
        “Who said my master was a demon?” said McReaper. “It’s immaterial. Terms of contract allowed a transfer.” 
    </p>
    <p>
        He shook the cage. 
    </p>
    <p>
        “Surrender, firstborn of Van Dubin, and the little dog goes free.”
    </p>
    <p>
        Garrett enchanted himself with the bronze glow of mage armor.    
    </p>
    <p>
        “Not happening,” he said.  
    </p>
    <p>
        “Do you not remember? You can’t hurt me as long as the contract stands,” he said. 
        He snapped his fingers and the gargoyles moved with the sound of grinding stone. 
        They stomped and stood between the Imp and Garret.        
    </p>
    <p>
        “Last chance!” said McReaper.   
    </p>
    <p>
        Garrett let loose a bolt of arcane energy at McReaper’s smug face. It struck, and McReaper fell to the ground a rolled. He got up in shock.  
    </p>
    <p>
        “Kill them! Kill them!” Johnny McReaper screamed. He fled away.  
    </p>
</div>