 <div class="storybox">
  <!-- Call to Dad 004 -->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F04.jpg?alt=media&token=e5a020b9-d923-4890-b60e-5ba525e32c4c" />
  <p>
      Frustrated, Garrett knew he had to call his dad. He hadn’t known his joint custody father that well growing up, 
      and even visitation was limited by bio dad’s mandated community service. At least now Michael Van Dubin had 
      custodial work in Visalia, far from any casino.
  </p>
  <p>
      “Garrett?” said Michael Van Dubin. “Hey good to hear from you. You at grandpa’s house?”
  </p>
  <p>
      “Yes, dad.” said Garrett flatly, “You know I got to ask you some questions because we found something here.”
  </p>
  <p>
      “Found what?”
  </p>
  <p>
      Garrett explained what he had found. He told him about the cursed role playing books, 
      the safe, the visit from the little demon and that Ignus had been taken.
  </p>
  <p>
      “Oh son,” said Michael, “I’m sorry.”
  </p>
  <p>
      “Don’t call me son,” said Garrett. “Explain what happened.”
  </p>
  <p>
      “Well, you know how people used to think that roleplayers did real magic, 
      conjured demons, and made suicide pacts and got possessed?”
  </p>
  <p>
      “Scared parents. Urban legends. The eighties,” said Garrett, “Yeah.”
  </p>
  <p>
      “Well it wasn’t an urban legend, so,” continued Michael. “We had this dungeon master who wanted us in his world. 
      I mean, really in it. God, Nathan was such an obsessive weirdo sometimes…”
  </p>
  <p>
      Michael explained the terms of the contract. Him and his teenage friends entered a real village. 
      They played as their characters and went on a real adventure. In turn they wagered that they 
      could finish the quest against a future first born son.
  </p>
  <p>
      “But our dungeon master, Nathan, went and vanished,” he said. “He had always been kinda crazy, you know? We figured he’d ran away.”
  </p>
  <p>
    “You sold out me before I was born,” said Garrett.
  </p>
  <p>
      “I didn’t think I’d lose!”
  </p>
  <p>
    “You never do,” said Garrett pacing around in frustration. He looked at the character sheets, player’s handbook, and everything else in the safe.
  </p>
  <p>
    “You know what?” he said. “I think you need to come to grandpa’s house right away.”
  </p>
  <p>
    “What for?”
  </p>
  <p>
    “Because you and I are going to finish this quest, get my dog back,” he said, “or maybe I’ll go myself and clean up your mistakes.”
  </p>
  <p>
    “Don’t sass me like that son,” he said. “I cleaned up highways. I’ll clean up this mess too.”
  </p>
</div>