<div>
  <!-- Magical Armor and stuff 005 -->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F05.jpg?alt=media&token=c470db3b-59ad-4b11-abe2-4825562a2e93" />
  <p>
      After spending the afternoon learning the rules, Garrett and Kayla got the knock at the door. 
      Garrett greeted his sheepishly smiling dad with a single word. He gestured to the table and they 
      divided the character sheets among them. “We didn’t have no girls playing with us,” Michael explained. 
      A new character was rolled for Kayla -a bard- as it was the class she liked. Following Michael’s instructions, 
      they opened pages to one of the handbooks, placed their palms on it. The world blurred around them. The objects of the 
      house looked like colored gas and swirled around them. They fell through through empty space and then then landed on solid ground in a haze of light.
  </p>
  <p>
    The next thing Garrett knew, he stood in a village square, dressed in a cloak. He had a magical sword in one hand, and a spell book in the other.
  </p>
  <p>
    “Why am I the wizard?” he said.
  </p>
  <p>
    “Fighter/mage,” Michael said underneath an Elvish helmet, “and it’s because that’s one of the classes we had.”
  </p>
  <p>
    Kayla played a few notes on the lute, and found herself a virtuoso.
  </p>
  <p>
    “Oh, I can play this!” she said.
  </p>
  <p>
    “If your character can do it, so can you,” said Michael. “Now let’s get to the inn.”
  </p>
  <p>
      They passed a market full of fur traders, vegetable sellers. A pair of painted barbarians 
      in the style of He-man wrestled surrounded by a cheering audience. In the inn, they found it scarce of 
      late afternoon patrons. Michael pointed to an eye-patched bartender with a curled mustache. The bartender raised 
      his head and smiled and beckoned them closer.
  </p>
  <p>
    “Glofinder,” he exclaimed to Michael, “why we thought Demon Bat Keep had eaten you alive.”
  </p>
  <p>
    Garrett groaned on the inside.
  </p>
  <p>
    “Alive and well, Belwyn,” said Michael, “Got any more potions of flight?”
  </p>
  <p>
      “Going back again, eh?” 
  </p>
  <p>
    “We’re after my dog,” said Garrett. “Can you help us?”
  </p>
  <p>
    “Only way up to the keep is to fly,” said Belwyn, “you got the thirty gold?” 
  </p>
  <p>
    All three opened up the purses and came up with only enough to get a room for the night. Garrett clenched his jaw in frustration. 
  </p>
  <p>
      “Can’t I make us fly?” said Garret fumbling in his spell book. 
  </p>
  <p>
      “Not until level six,” said Michael.
  </p>
  <p>
      “Must be something we can do,” said Kayla.
  </p>
</div>