/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|PT+sans');
img, p {
  max-width: 100%;
  height: auto;
}


h1, h2, h3 {
  font-family: 'Fontdiner Swanky', cursive;
}

p {
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 5px;
  text-indent: 20px;
}
div {
  max-width: 100%;
  align-items: center;
  text-align: left;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .storybox {
    max-width: 100%;
  }
  img {
    padding: 15px;
    float: left;
    max-width: 30%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .storybox {
    max-width: 100%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : portrait) {
  .storybox {
    max-width: 100%;
  }
  img {
    padding: 15px;
    float: left;
    max-width: 30%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1366px) and (max-width: 1824px) {
  .storybox {
    max-width: 500px;
    align-self: center;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .storybox {
    max-width: 500px;
    align-self: center;
  }
}
