<div class="storybox">
  <!-- These are my friends 008 -->
  <img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F08.jpg?alt=media&token=469527aa-39c9-4cdd-8e92-18cdaff368f6" />
  <p>
      They ascended stairs and entered a chamber. All around were statues of men and women 
      all in various poses. In the middle of the chamber was a black robed figure with a long brimmed hat, gazing out the window.
  </p>
  <p>
    “Have you come, Son of Mikey, to fulfill your obligation?” the figure said.  
  </p>
  <p>
    “I’m not obligated to anything,” said Garrett. “Killed the imp. Shouldn’t have done that if the contract mattered, right?”  
  </p>
  <p>
    “We want the claymore,” said Kayla, “so we can go home.”  
  </p>
  <p>
    The figure gestured towards the window. The sword flew from above and to his hands. With his back turned, he held the long, double edged, sword before his face.  
  </p>
  <p>
    “Wait..” said Michael, “can’t be… Nate?”  
  </p>
  <p>
    The figure turned. His eyes were sunken in. He looked at Michael and smiled.  
  </p>
  <p>
    “Oh look at you, Mikey, you’ve aged.”  
  </p>
  <p>
    “Oh my god,” said Garrett, “You’re the weirdo.”  
  </p>
  <p>
    “I am the Dungeon Master!” he said raising his chin high, “I am here in my world. A world that exists for me. Look at all of my friends!”  
  </p>
  <p>
    He gestured to all of the petrified figures.
  </p>
  <p>
    “Sometimes I get new friends,” he cackled, “sometimes I write new ones into the village. With you here I have more!” 
  </p>
  <p>
    “Well I be damned,” said Michael. “You’ve been here for decades with nothing but NPCs to keep you company. 
    Nate, maybe it’s time you came out with us. Come on give us the sword and we’ll go.”  
  </p>
  <p>
    “No!” Nate spun around and brandished his sword. “I came to this tower. I killed the demon. I’ll not let you go. No returns to the other place!”  
  </p>
  <p>
    “Maybe he’s right, Garrett,” said Kayla. “Maybe we can leave him here.”  
  </p>
  <p>
    “What?” said Michael, “No we can’t do that…”  
  </p>
  <p>
    “I can stay if he lets you both go,” said Kayla. “I like it here too.”  
  </p>
  <p>
    Garrett glanced over in confusion. She looked at him with a slight smile in her eyes. He nodded in understanding.  
  </p>
  <p>
    “I could try new magic here,” she said. “I can sing again.”  
  </p>
  <p>
    Garrett turned away. Kayla took out her lute and sang a lazy tune to soft dulcimer notes.  
  </p>
  <p>
    “Yeah?” he said. He lured Nate with a glare, “But what if I beat the crazy out of this guy?”  
  </p>
  <p>
    “You cannot harm me!” said Nate, “You, Son of Mikey, are mine by right. I own your soul because…”  
  </p>
  <p>
    He pulled his sword over his head and made to attack. Then, he teetered as if dizzy.  
  </p>
  <p>
    “Because…” he said in an airy voice. Then he fell to the ground. The Sword of the Highlander landed next to him with a clatter.  
  </p>
  <p>
    “Wow!” said Kayla, “I can’t believe that worked.”  
  </p>
  <p>
    “Sleep spell?” said Michael. “Good thinking.”  
  </p>
  <p>
    “So do we leave him here or what?” said Garrett as he picked up the sword, “The quest is done now, so I’m ready to go.”  
  </p>
  <p>
    “Ahh… we can’t do that,” said Michael. “He might’ve been a crazy DM, but he was still my friend.”  
  </p>
  <p>
    He hefted Nate onto his shoulder.  
  </p>
  <p>
    “Besides, imagine the statement in the papers about us being heroes now,” said Michael, “and a cash reward too.”  
  </p>
  <p>
    “Dad…” Garrett groaned.  
  </p>
  <p>
    “Can’t blame and old guy for wanting a little fame,” he said. He squinted at the sword. “I’m guessing you can cut a portal open with it? Try it.”  
  </p>
  <p>
    Garrett waved the sword like he was cutting drywall. A rift opened in the air, 
    and the game table with its books stood beyond the precipice. Kayla and Ignus stepped through. 
    Garrett hefted Nate with his dad.  
  </p>
  <p>
    “Your end first son,” he said.  
  </p>
  <p>
    “No way,” he said. “He’s your friend.”  
  </p>
  <p>
    “Dammit Garrett, can’t you listen for once?”  
  </p>
  <p>
    “Fine, but only if you explain everything after,” said Garrett.  
  </p>
  <p>
    “What do you mean?”  
  </p>
  <p>
    “Why was I able to kill that imp, Dad?”  
  </p>
  <p>
    Michael went pale.  
  </p>
  <p>
    “Alright fine,” he said, “I’ll talk when we’re safe. Now go on through will you?”
  </p>  
</div>