<!-- Fight the Gargoyles 007 -->
<img src="https://firebasestorage.googleapis.com/v0/b/dubin-backend.appspot.com/o/jpg%2F07.jpg?alt=media&token=77371037-1259-46a0-ac6d-30604434d19a" />
<p>
  A gargoyle charged Garrett. Its stone claws swiped at the air as Garrett parried away its blows with his staff. 
  He heard shouting and clanging. He also heard a roar of fire and then Kayla’s wavering singing voice. Then a 
  gargoyle got him by the arm and squeezed slow. Garrett screamed.
</p>
<p>
  “Stone to flesh, son!” cried Michael.
</p>
<p>
  “What?!” screamed Garrett.
</p>
<p>
  “Stone to Flesh! Use that spell!”
</p>
<p>
  Grimacing against the pain, Garrett reached for the gargoyle’s forearm. He chanted a spell, 
  and flesh and scales spread across the gargoyle’s stone body. Garrett kicked the creature in 
  the stomach. His boot found a soft belly. The gargoyle screeched and released his grip. Garrett 
  cast fire from his hands and set the creature ablaze. He saw that his father’s sword clanging 
  uselessly against the other gargoyle and that Kayla feverishly picking Ignus’s locked cage.
</p>
<p>  
  Garrett ran to the other gargoyle and touched it.
</p>
<p>
    “Stone to flesh!” he intoned again. The creature roared as it changed and swatted Garrett 
    away. As he got up, a singe of heat struck Garrett in the back and hurled him face foreword.
</p>
<p>
  “Contracts are contracts!” cried Johnny McReaper waving a fiery wand.
</p>
<p>
    “You!” said Garrett. He wrapped his his cloak over his face and charged against the blazing bolts. 
    He tackled McReaper to the ground, knocked the wand to the side and punched him in the face.
</p>
<p>
  “You think,” he roared pummeling the ugly imp, “a little fire scares me?”
</p>
<p>
  He screamed in rage and pummeled the imp into a bloody unrecognizable mess.
</p>
<p>
  “Garrett!” said Michael. “It’s over. He’s done.” 
</p>
<p>
  Garrett heard a bark and Ignus bounded over. He jumped into his master’s lap and licked his face. 
  Once he regained his breath, Garrett looked at the two dead gargoyles, and the broken pulp that 
  used to be Johnny the imp. He wiped the blood off his hands and took a breath 
</p>
<p>
  “So Dad,” he said, “was it true what he said? That I couldn’t touch him?”  
</p>
<p>
  “I think that was in the terms,” said Michael. 
</p>
<p>
  “Uh-huh,” said Garrett. He looked at a glowing window in a keep tower, “Well why do you think…”  
</p>
<p>
  “Can we talk about that later, Garrett?” said Michael.  
</p>
<p>
  “I read the stupid contract, dad,” said Garret. “First born can’t hurt the attorney. So is all this some stupid magical scam?” 
</p>
<p>
  “We’re not talking about it.”  
</p>
<p>
  Ignus ran around the courtyard, then yapped at a door. He came to heel beside Garrett. 
  Garrett knew Ignus would follow in or out of this little adventure. Garret reached down and 
  put his dog. Relaxing at forgetting the foolishness of the entire week.  
</p>
<p>
  “What now?” said Garrett to Kayla, “You wanna finish this? One more bad guy?”  
</p>
<p>
  Kayla hefted up her lute.  
</p>
<p>
  “I got a really cool spell I can try,” she said. “When are we ever going to get to do this again?”  
</p>
<p>
  “Alright,” said Garrett. “Where’s the final boss, dad?”  
</p>
<p>
  They broke down the keep’s inner door and ventured into a foyer. 
  A yellow skull hung from the dusty, cold, chandelier. Dry horns extruded from its forehead. 
  Its jaw dangled open like gaping serpent. Rows of teeth and fangs glinted white in the torchlight.  
</p>
<p>
  “What is it?” said Garrett.  
</p>
<p>
  “If I know one thing,” replied Michael, 
  “it’s what a demon looks like. Something else 
  took up residence here for sure. Say, did you 
  check the Dungeon Master notes?”  
</p>
<p>
  “They were torched with the dungeon master guide,” said Garrett.
</p>
<p>
  “Figures my, luck,” said Michael.  
</p>
<!-- Break Tag added to ensure that images display properly-->
<br>